In [3]:
from pathlib import Path
import pandas as pd

DATA_PATH = Path("bbc_news_train.csv")
if not DATA_PATH.exists():
    raise FileNotFoundError(f"Impossible de trouver le fichier : {DATA_PATH.resolve()}")

df = pd.read_csv(DATA_PATH)
df.head()

   ArticleId                                               Text  Category
0       1833  worldcom ex-boss launches defence lawyers defe...  business
1        154  german business confidence slides german busin...  business
2       1101  bbc poll indicates economic gloom citizens in ...  business
3       1976  lifestyle  governs mobile choice  faster  bett...      tech
4        917  enron bosses in $168m payout eighteen former e...  business

In [4]:
df_tech = df[df["Category"] == "tech"].head(100).copy()
display(df_tech.head())
print(f"Nombre d'articles dans le dataset filtré : {len(df_tech)}")

    ArticleId                                               Text Category
3        1976  lifestyle  governs mobile choice  faster  bett...     tech
19       1552  moving mobile improves golf swing a mobile pho...     tech
24        405  bt boosts its broadband packages british telec...     tech
26        702  peer-to-peer nets  here to stay  peer-to-peer ...     tech
30       1951  pompeii gets digital make-over the old-fashion...     tech

Nombre d'articles dans le dataset filtré : 100

In [ ]:
# petit set de relations pour éviter un graphe incohérent

REL_SCHEMA = [
  {"pred":"schema:about",
   "subj":["schema:NewsArticle"], "obj":["schema:Thing"],
   "note":"Article -> entités mentionnées/centrales"},

  {"pred":"schema:author",
   "subj":["schema:NewsArticle"], "obj":["foaf:Person","schema:Organization"],
   "note":"Optionnel (souvent absent) : auteur ou média"},

  {"pred":"schema:worksFor",
   "subj":["foaf:Person"], "obj":["schema:Organization"],
   "note":"Emploi / affiliation forte"},

  {"pred":"schema:founder",
   "subj":["schema:Organization"], "obj":["foaf:Person"],
   "note":"Organisation -> fondateur(s)"},

  {"pred":"schema:acquiredBy",
   "subj":["schema:Organization"], "obj":["schema:Organization"],
   "note":"Convention: acquis -> acquéreur"},

  {"pred":"schema:produces",
   "subj":["schema:Organization"], "obj":["schema:Product"],
   "note":"Entreprise -> produit (hardware/software)"},

  {"pred":"schema:location",
   "subj":["schema:Organization","schema:Event"], "obj":["schema:Place"],
   "note":"Si une localisation est explicitement mentionnée"},

  {"pred":"onto:announced",
   "subj":["schema:Organization","foaf:Person"], "obj":["schema:Product","schema:Event"],
   "note":"Local (si tu veux expliciter les annonces/lancements)"},

  {"pred":"schema:datePublished",
   "subj":["schema:NewsArticle"], "obj":["xsd:date","xsd:dateTime"],
   "note":"Attribut date article (si dispo / inférée)"},

  {"pred":"schema:releaseDate",
   "subj":["schema:Product","schema:Event"], "obj":["xsd:date","xsd:dateTime"],
   "note":"Attribut date sortie/lancement (si mentionné)"}
]